<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel</title>
</head>
<body>
    <ul>
        <li>presentation du projet : </li>
        <ul>
            <li>creation de restaurant</li>
            <ul>
                <li>presentation</li>
                <li>creation QRCODE pour le menu</li>
                <li>creation de menu dynamique</li>
                <li>creation liaison entre qrcode et menu</li>
                <li>creation des tables</li>
            </ul>
            <li>creation des chambre</li>
            <ul>
                <li>presentation</li>
                <li>numero</li>
                <li>contenue de chambre</li>
            </ul>
            <li>creation de l'hotel</li>
            <ul>
                <li>presentation</li>
                <li>adresse</li>
                <li>composant</li>
            </ul>
        </ul>
    </ul>
</body>
</html>